* {
  margin: 0px;
  padding: 0px;
}

body {
  overflow-y: auto;
  min-height: 100vh;
}
textarea:focus,
input:focus {
  outline: none;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.pexels.com/photos/2422461/pexels-photo-2422461.jpeg?cs=srgb&dl=pexels-josh-hild-2422461.jpg&fm=jpg");
  height: 50vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-subheading {
  font-size: 24px;
  font-weight: 100;
}

.hero-input {
  width: 80%;
  height: 50px;
  padding: 16px;
  border-radius: 8px;
  border: none;
}

.tile {
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: 0.2s all;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.tile img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -webkit-transition: 0.2s all;
  
}
.tile img:hover {
  -webkit-filter: brightness(50%);
  transform: scale(1.1);
}

.tile-text {
  position: absolute;
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
}

footer {
  background: #f1f1f1;
  width: 100%;
  color: #999;
  bottom: 0;
  text-align: center;
  padding: 10px 0;
  margin-top: 10px;
}

